<section class="row"><!-- register -->
  <div class="col-sm-12 col-md-10 col-lg-4 offset-md-1 offset-lg-4">
    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'base-form' }) do |f| %>
      <div class="header">
        <p class="title">Registro</p>
      </div>

      <div class="body">
        <div class="field">
          <span class="icon"><i class="fa fa-user"></i></span>
          <%= f.text_field :username, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <span class="icon"><i class="fa fa-envelope-o"></i></span>
          <%= f.email_field :email, class: 'input' %>
        </div>

        <div class="field">
          <span class="icon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "off", placeholder: 'Contraseña',  class: 'input' %>
        </div>

        <div class="field">
          <span class="icon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar contraseña', class: 'input' %>
        </div>

         <div class="field -nobg">
          <button class="button">Registrarme</button>
        </div>
      </div>

     <div class="separator"></div>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</section><!-- end register section-->