<div class="flex-wrapper">
	<section class="train-challenge"><!-- train challenge section -->
		<div class="details-column flex-column" id="panel-one">
			<ul class="nav nav-tabs" id="details-tab">
				<li class="nav-item"><a href="#description" class="nav-link active">Descripci贸n</a></li>
				<li class="nav-item"><a href="#output" class="nav-link">Salida</a></li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active markdown-preview fast-scroll" id="description" role="tabpanel">
			  	<div class="body">
			  		<h5><%= @translation.challenge.name %></h5>
			  		<div class="content marked-code">
			  			<input type="hidden" value="<%= @translation.challenge.description %>">
				  	</div>
				  	<hr />
				  	<div class="challenge-tags">
						  <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
							<%= render partial: 'shared/tags', collection: @translation.challenge.splitted_tags, as: :tag %>
				    </div>
			  	</div>
			  </div>
			  <div class="tab-pane code-output fast-scroll" id="output" role="tabpanel">
			  	<%= render partial: 'shared/code_output' %>
			  </div>
			</div>
		</div>

		<div class="flex-column code-column" id="panel-two">
			<div id="panel-three">
				<div class="code-tab code-tab-buttons">
					<div class="header d-flex flex-row justify-content-between">
						<div class="mr-3 title">
							Soluci贸n
							<span class="expander-button -spaced" data-editor='1'><i class="fa fa-expand"></i></span>
						</div>
						<div class="train-options">
							<button id="reset-btn" type="button" class="btn btn-primary reset">Reiniciar</button>
							<button id="example-btn" type="button" class="btn btn-primary test">Probar C贸digo</button>
							<button id="attempt-btn" type="button" class="btn btn-primary attempt">Enviar Soluci贸n</button>
						</div>
					</div>
					<div class="body">
						<textarea id="code-area"><%= @translation.initial_solution %></textarea>
					</div>
				</div>
			</div>
			<div id="panel-four">
				<div class="code-tab">
					<div class="header">
						Pruebas
						<span class="expander-button -spaced" data-editor='2'><i class="fa fa-expand"></i></span>
					</div>
					<div class="body">
						<textarea id="test-area"><%= @translation.example_fixture %></textarea>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end train challenge -->
</div>


<%= javascript_pack_tag 'translations/train' %>