<section class="user-solutions row"><!-- solutions  -->
	<div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
		<% @solutions.each do |solution| %>
			<div class="mb-3 solution-box">
				<div class="language">
					<%= devicon_svg 'javascript' %>
				</div>
				<div class="name scale">
					<%= link_to solution.translation.challenge.name, challenge_path(solution.translation.challenge) %>
				</div>
				<div class="answer" id="answer_<%= solution.id %>">
					<div class="body">
						<div class="content marked-code">
								<input type="hidden" value="<%= solution.answer %>">
						</div>
					</div>
					<span class="time-ago">
						Hace <%= time_ago_in_words(solution.created_at) %>
					</span>
				</div>
			</div>
		<% end%>
	</div>
	
</section><!-- end solutions -->

<%= javascript_pack_tag 'shared/solutions' %>

