<section class="row"><!-- login -->
  <div class="col-sm-12 col-md-10 col-lg-4 offset-md-1 offset-lg-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'base-form' }) do |f| %>
      <div class="header">
        <p class="title">Iniciar Sesión</p>
      </div>

      <div class="body">
        <div class="field">
          <span class="icon"><i class="fa fa-envelope-o"></i></span>
          <%= f.email_field :email, autofocus: true, class: 'input' %>
        </div>

        <div class="field">
          <span class="icon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: 'off', class: 'input' %>
        </div>
        
        <% if devise_mapping.rememberable? -%>
          <div class="field -nobg -checkbox">
            <%= f.check_box :remember_me, class: 'checkbox', id: 'remember_me' %>
            <label for="remember_me" class="label">Recordar cuenta</label>
          </div>
        <% end %>

        <div class="field -nobg">
          <button class="button">Entrar</button>
        </div>
      </div>
      
      <div class="separator"></div>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</section><!-- end login section-->
