<section class="row"><!-- challenges list -->
	<div class="ml-lg-2 col-sm-12 col-md-12 col-lg-4">
			<%= form_tag({ controller: 'challenges', action: 'search'}, method: 'get', class: 'challenge-filter') do %>
			<div class="field">
				<div class="control -full">
    			<i class="icon fa fa-search" aria-hidden="true"></i>
					<%= text_field_tag 'q', @name, class: 'input', placeholder: 'Buscar por nombre' %>
				</div>
			</div>
			<div class="field">
				<label class="label">Ordenar por</label>
				<div class="control">
    			<i class="icon fa fa-sort-amount-asc" aria-hidden="true"></i>
					<%= select_tag 'order_by', options_for_select(@order_by, @order), class: 'input' %>
				</div>
			</div>
			<div class="field">
				<label class="label">Etiquetas</label>
				<div class="control">
    			<i class="icon fa fa-tags" aria-hidden="true"></i>
					<%= select_tag 'tag', options_for_select(@tags, {selected: @tag, disabled: '0'}), class: 'input' %>
				</div>
			</div>
			<div class="actions d-flex justify-content-between">
				<button type="submit" class="base-button -blue -small">Buscar</button>
				<button class="base-button -gray -small" id="reset">Limpiar</button>
			</div>
		<% end %>
	</div>
	<div class="ml-lg-3 col-sm-12 col-md-12 col-lg-7">
		<span class="challenges-found"><%= "#{@challenges.size} Ejercicios Encontrados "%></span>
		<%= render partial: 'shared/challenge_details', collection: @challenges, as: :challenge %>
	</div>
</section><!-- end challenges list section -->

<%= javascript_pack_tag 'challenges/index' %>