<div class="flex-wrapper">
	<%= form_for @translation.challenge, html: { class: 'manage-challenge', data: {:'challenge-id' => @translation.challenge.id, :'language' => @translation.language.name }, id: 'challenge-form' } do %>
		<div class="details-column flex-column" id="panel-one">
			<ul class="nav nav-tabs" id="manage-challenge-tab">
				<li class="nav-item"><a href="#details" class="nav-link active">Detalles</a></li>
				<li class="nav-item"><a href="#markdown-description" class="nav-link">Descripción</a></li>
				<li class="nav-item"><a href="#preview" class="nav-link">Preview</a></li>
				<li class="nav-item"><a href="#output" class="nav-link">Salida</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="details" role="tabpanel">
			  	<div class="body">
			  		<div class="content">
			  			<div class="form-fields">
								<div class="form-group">
									<label for="name">Nombre</label>
									<%= text_field_tag 'name', @translation.challenge.name, class: 'form-control' %>
								</div>

								<div class="form-group">
									<label>Categoria</label>
									<%= select_tag 'category', options_for_select(@categories, @translation.challenge.category), class: 'form-control' %>
								</div>

								<div class="form-group">
									<label>Nivel</label>
									<%= select_tag 'rank', options_for_select(@ranks, @translation.challenge.rank), class: 'form-control' %>
								</div>

								<div class="form-group">
									<label for="name">Etiquetas</label>
									<%= text_field_tag 'tags', @translation.challenge.tags, class: 'form-control' %>
								</div>
							</div>
			  		</div>
			  	</div>
			  </div>

			  <div class="tab-pane markdown-description" id="markdown-description" role="tabpanel">
			  	<div class="body">
			  		<div class="content">
			  			<!-- <textarea class="form-control" id="markdown-area"></textarea> -->
							<%= text_area_tag 'description', @translation.challenge.description, class: 'form-control', id: 'markdown-area' %>
			  		</div>
			  	</div>
			  </div>

			  <div class="tab-pane markdown-preview fast-scroll" id="preview" role="tabpanel">
			  	<div class="body">
			  		<div class="content marked-code">
				  	</div>
			  	</div>
			  </div>

			   <div class="tab-pane code-output fast-scroll" id="output" role="tabpanel">
			  	<%= render partial: 'shared/code_output' %>
			  </div>
			</div>
		</div>

		<div class="code-column flex-column" id="panel-two">
			<div class="code-tab code-tab-buttons" id="panel-three">
							<div class="manage-options">
				<ul class="list d-flex justify-content-start">
					<li class="item" id="save-btn">
						<i class="fa fa-file-o"></i>Guardar
					</li>
					<li class="item" id="validate-btn">
						<i class="fa fa-check"></i>Validar
					</li>
					<li class="item" id="insert-btn">
						<i class="fa fa-code"></i>Insertar Ejemplo
					</li>
					<li class="item" id="reset-btn">
						<i class="fa fa-refresh"></i>Reiniciar
					</li>
					<% if action_name == 'edit' %>
					<li class="item" id="delete-btn">
						<i class="fa fa-trash"></i>Eliminar
					</li>
					<% end %>
				</ul>
			</div>
				<ul class="nav nav-tabs" id="challenge-solution-tab">
					<li class="nav-item"><a href="#complete-solution" class="nav-link active">Solución Final</a></li>
					<li class="nav-item"><a href="#initial-solution" class="nav-link">Solución Inicial</a></li>
				</ul>

				<div class="tab-content">
				  <div class="tab-pane active" id="complete-solution" role="tabpanel">
				  	<div class="body">
				  		<!-- <textarea class="form-control" id="complete-solution-area"></textarea> -->
							<%= text_area_tag 'complete_solution', @translation.complete_solution, class: 'form-control', id: 'complete-solution-area' %>
				  	</div>
				  </div>
				  <div class="tab-pane" id="initial-solution" role="tabpanel">
				  	<div class="body">
				  		<!-- <textarea class="form-control" id="initial-solution-area"></textarea> -->
							<%= text_area_tag 'initial_solution', @translation.initial_solution, class: 'form-control', id: 'initial-solution-area' %>
				  	</div>
				  </div>
				</div>
			</div>

			<div class="code-tab" id="panel-four">
				<ul class="nav nav-tabs" id="test-cases-tab">
					<li class="nav-item"><a href="#final-test" class="nav-link active">Pruebas Finales</a></li>
					<li class="nav-item"><a href="#example-test" class="nav-link">Pruebas de Ejemplo</a></li>
				</ul>

				<div class="tab-content">
				  <div class="tab-pane active" id="final-test" role="tabpanel">
				  	<div class="body">
				  		<!-- <textarea class="form-control" id="final-test-area"></textarea> -->
							<%= text_area_tag 'final_fixture', @translation.final_fixture, class: 'form-control', id: 'final-test-area' %>
				  	</div>
				  </div>
				  <div class="tab-pane" id="example-test" role="tabpanel">
				  	<div class="body">
				  		<!-- <textarea class="form-control" id="example-test-area"></textarea> -->
							<%= text_area_tag 'example_fixture', @translation.example_fixture, class: 'form-control', id: 'example-test-area' %>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<%= javascript_pack_tag 'challenges/manage' %>