<section><!-- exercise details -->
	<div class="col-sm-12">
		<div class="exercise-details row">
			<div class="col-sm-12 col-md-6 col-lg-8">	
				<h5><%= @challenge.name %></h5>
				<span><a href="#"><i class="fa fa-user" aria-hidden="true"></i>warborn</a></span>
				<span><i class="fa fa-code" aria-hidden="true"></i>JavaScript</span>
				<span><i class="fa fa-signal" aria-hidden="true"></i>Nivel <%= @challenge.level %></span>
				<span><i class="fa fa-user-plus" aria-hidden="true"></i></i>102 veces contestado</span>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">	
				<div class="btn-group">
					<%= link_to 'Practicar', train_challenge_path(@challenge, 'javascript'), class: 'btn btn-outline-success' %>
					<%= link_to 'Ver Soluciones', solutions_challenge_path(@challenge, 'javascript'), class: 'btn btn-outline-info' %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="exercise-description row">
			<div class="markdown-preview regular col-sm-12 col-md-12 col-lg-12">
				<div class="body">
					<div class="content">
		  			<input type="hidden" value="<%= @challenge.description %>">
			  		<hr />
			  	</div>
			  	<div class="challenge-tags col-sm-12 col-md-12 col-lg-12">
					  <span class="icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
						<%= render partial: 'shared/tags', collection: @challenge.splitted_tags, as: :tag %>
			    </div>
				</div>
			</div>
		</div>
	</div>
</section><!-- end exercise details -->

<% content_for :javascript do %>
  <script type="text/javascript">
     <%= render file: js_path(:challenges, :show) %>
  </script>
<% end %>